In [1]:
!pip3 install pandas

Requirement already satisfied: pandas in c:\users\ashwin\appdata\local\programs\python\python37-32\lib\site-packages (0.23.4)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\ashwin\appdata\local\programs\python\python37-32\lib\site-packages (from pandas) (2.7.5)
Requirement already satisfied: numpy>=1.9.0 in c:\users\ashwin\appdata\local\programs\python\python37-32\lib\site-packages (from pandas) (1.15.4)
Requirement already satisfied: pytz>=2011k in c:\users\ashwin\appdata\local\programs\python\python37-32\lib\site-packages (from pandas) (2018.7)
Requirement already satisfied: six>=1.5 in c:\users\ashwin\appdata\local\programs\python\python37-32\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)

In [3]:
import pandas as pd

In [4]:
x = [1, 2, 4, 5, 3, 9]
print(type(x))
print(x)

<class 'list'>
[1, 2, 4, 5, 3, 9]

In [5]:
import numpy as np
y = np.array(x)
print(type(y))
print(y)

<class 'numpy.ndarray'>
[1 2 4 5 3 9]

In [6]:
obj1 = pd.Series([1, 2, 3 , 5, -3])

In [7]:
print(type(obj1))

<class 'pandas.core.series.Series'>

In [8]:
print(obj1)

0    1
1    2
2    3
3    5
4   -3
dtype: int64

In [9]:
obj2 = pd.Series(x)

In [10]:
print(obj2)

0    1
1    2
2    4
3    5
4    3
5    9
dtype: int64

In [11]:
obj2 = pd.Series(y)

In [12]:
print(obj2)

0    1
1    2
2    4
3    5
4    3
5    9
dtype: int32

In [13]:
print(obj1.values)

[ 1  2  3  5 -3]

In [14]:
print(obj1.index)

RangeIndex(start=0, stop=5, step=1)

In [17]:
obj2 = pd.Series( x, index = ['a', 'b', 'c', 'd', 'e', 'f'])

In [18]:
print(obj2)

a    1
b    2
c    4
d    5
e    3
f    9
dtype: int64

In [19]:
print(obj1)

0    1
1    2
2    3
3    5
4   -3
dtype: int64

In [20]:
print(obj1[obj1 < 0])

4   -3
dtype: int64

In [21]:
print(obj1[obj1 > 0])

0    1
1    2
2    3
3    5
dtype: int64

In [22]:
c = 3
print ( obj1 * c )

0     3
1     6
2     9
3    15
4    -9
dtype: int64

In [23]:
obj2

a    1
b    2
c    4
d    5
e    3
f    9
dtype: int64

In [24]:
obj2.index = [0, 1, 2, 3, 4, 5]

In [25]:
obj2

0    1
1    2
2    4
3    5
4    3
5    9
dtype: int64